<% content_for :title, "Editing movie" %>

<h1>Editing movie</h1>

<%= render "form", movie: @movie %>

<br>

<div class="movie-actions">
  <%= link_to "Show this movie", movie_path(@movie, sort_by: params[:sort_by], direction: params[:direction]), class: "btn" %>
  <%= link_to 'Back to Movies', movies_path(sort_by: params[:sort_by], direction: params[:direction]), class: "btn" %>
</div>
