<% content_for :title, "New movie" %>

<h1>New movie</h1>

<%= render "form", movie: @movie %>

<br>

<div class="back-link">
  <%= link_to 'Back to Movies', movies_path(sort_by: params[:sort_by], direction: params[:direction]), class: "btn" %>
</div>
